{
  "extends": ["prettier", "prettier/react", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "react/jsx-curly-newline": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-nested-ternary": 0,
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "implicit-arrow-linebreak": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
